{% extends 'base.html' %}

{% block body %}
        <div class="container col-md-4 cl-md-offset-3 mt-2">
            <form method="POST" action="" class="border p-3">
                {{ form.csrf_token }}
                <div style="text-align: center;">
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                </div>
                <fieldset>
                    <div class="form-outline mb-4">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                    </div>
    
                    <div class="form-outline mb-4">
                        {{ form.senha.label(class="form-label") }}
                        {{ form.senha(class="form-control") }}
                    </div>
                </fieldset>
                <div class="row mb-4">
                    <div class="col-sm">
                        <div class="form-check">
                            {{ form.lembrar(class="form-check-input", value="") }}
                            {{ form.lembrar.label(class="form-check-label") }}
                        </div>
                    </div>
                    <div class="col-sm" style="text-align: right;">
                        {{ form.submit_entrar(class="btn btn-primary btn-block mb-4") }}
                    </div>

                </div>
            </form>
        </div>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
{% endblock %}